# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Macos file
.DS_Store

*.class
*.log
*.bak

# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/project
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.bloop

.idea
out

# Metals
.metals
project/metals.sbt

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

#User
/*.vhd
/*.v
*.cf
*.json
*.vcd
!tester/src/test/resources/*.vhd

simWorkspace/
tmp/
null

__pycache__/
sim_build/
.vscode/
build/
output/
HLS_arbitrary_Precision_Types/

project/
tb/
*.fst
